/algorithms.py
/brutnetcalc.py
/Budget.py
/BudgetCalcV4.py
/BudgetCalcV6.py
/BudgetCalcV7.py
/BudgetCalcV8_oct.py
/Budget_semiauto.py
/calender.py
/chap2.py
/conditions.py
/FizzBuzz.py
/hello_world.py
/hello_world2.py
/input.py
/keyword.py
/loops.py
/name.py
/__pycache__